@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

:root {
  --background: #f5f3f3;
  --text-primary: black;
  --btn-background: #f9f9f9;
  --function: #4cfada;
  --operator: #eb6565;
}

[data-theme="dark"] {
  --background: #22252d;
  --text-primary: white;
  --btn-background: #272b33;
  --function: #4cfada;
  --operator: #eb6565;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f5f3f3;
  min-height: 100vh;
}
